<header id="menu" *ngIf="showHeaderFooter"> 
  <div id="logo"> 
    <a routerLink="/"> 
      <img src="Logo.png" alt="Logo" class="logo"> <!-- Logo de la parte superior izquierda --> 
    </a> 
  </div> 

  <nav> 
    <ul> 
      <li> 
        <a routerLink="/">Inicio</a>

        <!-- Opción Encuesta para todos los usuarios autenticados -->
        <a routerLink="/userencuesta" *ngIf="isAuthenticated && !isAdmin">Encuesta</a>
        
        <!-- Mostrar Encuestas solo si es un admin -->
        <a *ngIf="isAuthenticated && isAdmin" routerLink="/encuestas">Encuestas</a>
        
        <!-- Mostrar Admin solo si es un admin -->
        <a *ngIf="isAuthenticated && isAdmin" routerLink="/admin">Admin</a> 

        <!-- Mostrar Iniciar sesión y Registrarse si no están autenticados -->
        <a *ngIf="!isAuthenticated" routerLink="/login">Iniciar sesión</a> 
        <a *ngIf="!isAuthenticated" routerLink="/register">Registrarse</a> 

        <!-- Mostrar Cerrar sesión si están autenticados -->
        <a *ngIf="isAuthenticated" (click)="logout()">Cerrar sesión</a> 
      </li>  
    </ul> 
  </nav>  
</header>

<router-outlet></router-outlet> 

<!-- Solo muestra el footer si showHeaderFooter es true y no está en login ni en register -->
<footer *ngIf="showHeaderFooter"> 
  <div class="logos"> 
    <a href="https://www.gi2t.org" target="_blank"> 
      <img src="g.png" alt="Logo GI2T"> 
    </a> 
    <a> 
      <img src="ing.png" alt="Logo Ingeniería de Sistemas"> 
    </a>
    <a href="http://www.unipacifico.edu.co" target="_blank"> 
      <img src="unpa.png" alt="Logo Universidad del Pacífico"> 
    </a> 
  </div> 
  <div class="enlaces-interes"> 
    <a href="https://www.facebook.com">Facebook</a> 
    <a href="https://www.twitter.com">Twitter</a> 
    <a href="https://www.gi2t.org">Sitio Web GI2T</a> 
  </div> 
  <p>Desarrollado por el equipo de Ingeniería de Sistemas, Universidad del Pacífico.</p> 
</footer>
