@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dubiel&display=swap');

.admin-dashboard {
  display: flex;
  min-height: 80vh; // Para que ocupe toda la pantalla verticalmente

  // Sidebar
  .sidebar {
    width: 250px;
    background-color: #002a34;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 1rem;
          text-align: center;
          cursor: pointer;
          font-size: 1.1rem;
          color: #fff;
          font-family: 'Rufina', serif;

          &.active {
            background-color: #02475e;
          }

          &:hover {
            background-color: #016989;
          }
        }
      }
    }

    .help-center {
      padding: 2rem;

      button {
        font-size: 1rem;
        background-color: #016989;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        cursor: pointer;
        width: 100%; // Botón ocupa todo el ancho del contenedor

        &:hover {
          background-color: #02475e;
        }
      }
    }
  }

  // Main Content
  .welcome-section {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: auto; /* Elimina la necesidad de usar height para centrar con flexbox */
  }

  
    .welcome-message {
      font-size: 4.5rem; // Tamaño grande
      color: #003844;
      margin-bottom: 0.5rem;
      font-family: 'Dubiel', serif; // Tipografía Dubiel
    }
  
    .description {
      font-size: 1.5rem; // Tamaño de texto más grande
      color: #555;
      font-family: 'Dubiel', serif; // Tipografía Dubiel
      font-weight: 400;
    }
  }

