<div class="admin-dashboard">


    <div class="sidebar">

      <nav>
        <ul>
          <li class="active">Busqueda</li>
          <li> Crear Encuestas</li>
          <li class="active">Mis Encuestas</li>
          <li>Total Encuestas</li>
          <li class="active">Total Usuarios</li>
          <li>Analisis</li>
          <li class="active">Configuraciones</li>

        </ul>
      </nav>
      <div class="help-center">
        <button>Centro de Ayuda</button>
      </div>
    </div>
  

    
    <div class="main-content">

  
      <section class="welcome-section">
        <h1 class="welcome-message">Bienvenido Administrador</h1>
        <p class="description">
          Aquí puedes gestionar usuarios, encuestas y funcionalidades adicionales.
        </p>
      </section>
  
    </div>
  </div>
  