<div class="central">

  <div id="logo">

    <a routerLink="/">
      <img src="Logo.png" alt="Logo" class="logo"> 
    </a>

  </div>

  <div id="menu">

    <ul>
        <!-- Enlaces de navegación -->
        <li>
        <a routerLink="/">Inicio</a>
        <a routerLink="/login">Iniciar sesión</a>
        <a routerLink="/register">Registrarse</a>
        </li>
    </ul>

  </div>

  <form (ngSubmit)="onRegister()" id="form">
    <div class="form">
      <h1>Registrarse</h1>

      <!-- Campo de Usuario -->
      <div class="grupo">
        <input 
          type="text" 
          [(ngModel)]="usuario" 
          name="usuario" 
          id="users"  
          required 
          (input)="checkUserExistence()" />
        <span class="barra"></span>
        <label for="users">Usuario</label>
      </div>

      <!-- Campo de Contraseña -->
      <div class="grupo">
        <input type="password" [(ngModel)]="password" name="clave" id="password" required />
        <span class="barra"></span>
        <label for="password">Contraseña</label>
      </div>

      <!-- Campo de Confirmación de Contraseña -->
      <div class="grupo">
        <input type="password" [(ngModel)]="confirmPassword" name="clave1" id="password1" required />
        <span class="barra"></span>
        <label for="password1">Repetir Contraseña</label>
      </div>

      <!-- Botón de Enviar -->
      <button type="submit" id="Enviar" name="Enviar">Registrar</button>

      <!-- Mensaje de Advertencia -->
      <p class="warnings" *ngIf="warnings">{{ warnings }}</p>

      <!-- Enlace al login -->
      <p class="account-text">¿Ya tienes una cuenta?
        <a routerLink="/login" class="login-link">Iniciar sesión</a>
      </p>
    </div>
  </form>
</div>
  

