$primary-color: #003844; 
$secondary-color: #00cc99; 
$background-color: #f0f0f0; 
$text-color: #333; 
$font-family: 'Arial', sans-serif; 
 
:root { 
    --colorTextos: #49454567; 
} 
 
*, 
::before, 
::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
 
.central { 
    font-family: "Roboto", sans-serif; 
    width: 100%; 
    background: linear-gradient(to right, hsla(211, 30%, 24%, 0.705), hsla(204, 8%, 76%, 0.705)), url(/fondos.jpeg); 
    background-size: cover; 
    background-attachment: fixed; 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
} 
 
header { 
    display: flex; 
    justify-content: space-between;  
    align-items: center;             
    padding: 20px; 
    position: relative; 
    width: 100%; 
    z-index: 10;                     
} 
 
#logo { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    margin-right: auto;  
} 
 
#logo img { 
    height: 75px;        
    width: auto; 
    cursor: pointer;    
} 
 
#menu { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    margin-left: auto;  
} 
 
#menu ul { 
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
} 
 
#menu ul li { 
    margin-left: 20px; 
} 
 
#menu ul li a { 
    display: inline-block; 
    padding: 15px; 
    line-height: normal; 
    text-decoration: none; 
    color: #fff; 
    transition: all 0.3s ease; 
    border-bottom: 2px solid transparent; 
    font-size: 15px; 
    margin-right: 5px; 
    cursor: pointer; 
} 
 
#menu ul li a:hover { 
    border-bottom: 2px solid #c7c7c7; 
    padding-bottom: 5px; 
} 
 
h1 { 
    text-align: center; 
    font-weight: 100; 
} 
 
form { 
    background: #fff; 
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    max-width: 400px; 
    width: 100%; 
    padding: 20px; 
    margin: 0 auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
} 
 
.form { 
    width: 100%; 
    margin: auto; 
} 
 
form .grupo { 
    position: relative; 
    margin: 30px; 
} 
 
input { 
    background: none; 
    color: #c6c6c6; 
    font-size: 16px; 
    padding: 10px 10px 16px 5px; 
    display: block; 
    width: 100%; 
    border: none; 
    border-bottom: 1px solid var(--colorTextos); 
} 
 
input:focus { 
    outline: none; 
    color: #5e5d5d; 
} 
 
label { 
    color: #2196f3;  
    font-size: 16px; 
    position: absolute; 
    left: 5px; 
    top: 10px; 
    transition: 0.5s ease all; 
    pointer-events: none; 
    font-weight: bold; 
} 
 
input:focus ~ label, 
input:valid ~ label { 
    top: -14px; 
    font-size: 12px; 
    color: #2196f3; 
} 
 
.barra { 
    position: relative; 
    display: block; 
    width: 100%; 
} 
 
.barra::before { 
    content: ""; 
    height: 2px; 
    width: 0%; 
    position: absolute; 
    background: linear-gradient(to right, #7affd7, #a8ff7a); 
    transition: 1s ease width; 
    left: 0; 
} 
 
input:focus ~ .barra::before { 
    width: 100%; 
} 
 
button { 
    font-family: "Roboto", sans-serif; 
    background: linear-gradient(to right, hsla(211, 30%, 24%, 0.705), hsla(204, 8%, 76%, 0.705)), url(/litoral.jpg); 
    border: none; 
    display: block; 
    width: 80%; 
    margin: 10px auto; 
    color: #fff; 
    height: 40px; 
    font-size: 16px; 
    cursor: pointer; 
} 
 
.warnings { 
    width: 100%; 
    max-width: 300px;  
    margin: 20px auto;  
    padding: 15px;     
    background: #e99370; 
    color: #9f6000;     
    border-left: 5px solid #f0ad4e;  
    border-radius: 8px;  
    font-family: "Roboto", sans-serif; 
    font-size: 14px; 
    text-align: center; 
    font-weight: bold;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    animation: fadeIn 0.5s ease-in-out;  
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.warnings a { 
    color: #f0ad4e;   
    text-decoration: underline; 
    font-weight: bold; 
    transition: color 0.3s ease;  
}

.warnings a:hover { 
    color: #9f6000;    
}
 
.account-text { 
    text-align: center; 
    font-family: "Roboto", sans-serif; 
    color:var(--colorTextos); 
    font-size: 16px; 
    margin-top: 20px; 
    font-weight: bold; 
} 
 
.login-link { 
    color: #2196f3; 
    text-decoration: none; 
    font-weight: bold; 
    margin-left: 5px; 
    transition: color 0.3s ease, text-decoration 0.3s ease; 
    cursor: pointer; 
 
    &:hover { 
        color: #000; 
        text-decoration: underline; 
    } 
    
}